
.skeleton{
    text-align: center;
    margin-top: 3rem;
}

.createbutton{
    width: 9rem;
    font-family: cursive;
    height: 2.25rem;
    font-size: 1.10rem;
}

.sample-note{
    display: flex;
    margin-top: 2rem;
    height: 15rem;
    width: 15rem;
    background-color: #FFFF88;
    border: black;
    font-size: 0.95rem;
    margin: 1rem;
}

.note-board{
    margin-top: 4rem;
    margin-left:4rem ;
    margin-right: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex: 33%;
    padding-left: 9rem;
    padding-right: 9rem;
}